<div>
  <div class="navbar">
  <%= link_to root_path, class: "navbar-name" do %>
    <%= "Eno LEROY" %>
  <% end %>

  <div class="navbar-tab">
    <%= link_to "Home", root_path %>

    <%= link_to "Projects", projects_path %>

    <%= link_to "About Me", about_me_path %>
  </div>

  </div>
</div>
